body{
	background-image:url("../Resources/images/1.jpg");
	color:white;
}

h1,h2{
	text-align:center;
}

aside#derecha{
	position: relative;
	width: 15%;
	background-color: red;
	float:left;
	
}

article{
	width: 15%;
	background-color:blue;
	left: :300px;
}

small{
	float: bottom;
}