<!Doctype html>
          <html>
            <head>
              <meta charset="UTF-8"/>
              <script type="text/javascript" src='..\Resources\JavaScript\jquery-3.2.1.min.js' ></script>
            </head>
            <body>
                <h1>Seguridad</h1>
                <h2>Bienvenidos al modulo de Seguridad</h2>
                <form>
                    <label id="iniciarSesion">Acceder</label>
                    <label id="registrar">Registrar</label>
                </form>
                <script type="text/javascript" src="..\Resources\JavaScript\ini.js"></script>
            </body>
          </html>
